{{#if this.showFor}}
  {{#conditional-loading-spinner condition=this.isLoading}}
    {{! template-lint-disable no-invalid-interactive}}
    <div
      onclick={{action "visitTopic"}}
      class="topic-category-gallery-content
        {{if this.galleryOnly 'topic-category-gallery_only'}}"
    >
      {{#each this.topicContent as |image|}}
        <div class="custom-gallery-image">
          {{image}}
        </div>
      {{/each}}
    </div>
    {{! template-lint-enable no-invalid-interactive}}
  {{/conditional-loading-spinner}}
{{/if}}